.list-view:focused,
.text-area:focused,
.text-field:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.toggle-button:focused,
.combo-box:focused,
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: white;
    -fx-spacing: 3;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.tab:selected {
    -fx-background-color: #f0f5f5;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.chart,
.chart-plot-background {
    -fx-background-color: white;
}

.chart {
    -fx-stroke-dash-array: 0.1 5.0;
}

.heading {
    -fx-font-size: 10px;
    -fx-text-fill: #808080;
}

.body {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.big {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.small {
    -fx-font-size: 9px;
    -fx-text-fill: #808080;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
}

#chart1 .default-color0.chart-series-line {
    -fx-stroke: black;
}